
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 100px;
    background-color: #131B2A ;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    left: 0%;
    border-top: 2px solid #192438;
    width: 100%;
    color: white;
    text-align: center;
    }

.footer a{
    color: white;
    text-decoration: none;    
}
    
    .facebook { grid-area: 1 / 5 / 2 / 6; font-size: 24px;}
    .instagram { grid-area: 1 / 6 / 2 / 7; font-size: 24px;}
    .twitter { grid-area: 1 / 7 / 2 / 8; font-size: 24px;}
    .youtube { grid-area: 1 / 8 / 2 / 9; font-size: 24px;}
    .condition { grid-area: 2 / 4 / 3 / 6; margin-top: 30px;}
    .politique { grid-area: 2 / 6 / 3 / 8; margin-top: 30px;}
    .presse { grid-area: 2 / 8 / 3 / 10; margin-top: 30px;}
    .end { grid-area: 3 / 5 / 4 / 9; margin-top: 30px;}
  
  

    @media screen and (max-width: 550px){
        .condition,.politique,.presse,.end{
            font-size: 14px;
        }

    }